$body-background-color: #EEEEEE;
$article-background-color: #FFFFFF;
$headline-third-color: #234465;
$font-size: 14px;
$font-color: #5A5A5A;
$white-font-color: white;
body {
  background: $body-background-color;
  #wrapper {
    font-family: arial, helvetica, freesans, sans-serif;
    font-size: $font-size;
    color: $font-color;
    float: left;
    section {
      h3 {
        margin-left: 20px;
      }
      margin: 0 auto;
      width: 90%;
      article {
        float: left;
        margin-left: 20px;
        width: 27%;
        box-shadow: 2px 2px 2px #DBDBDB;
        background: $article-background-color;
        padding-left: 25px;
        padding-right: 25px;

        h4 {
          height: 40px;
          color: $headline-third-color;
          text-transform: uppercase;
          text-spacing: 0;
          margin-left: 10px;
        }
        .publish {
          margin-top: 0;
          margin-left: 10px;
          height: 40px;
        }
        .image {
          text-align: center;
          height: 110px;
        }
        .datetime {
          text-align: right;
          margin-right: 10px;
        }
        .description, .tags {

          margin-left: 10px;
          margin-right: 10px;
        }
        .description {

          height: 40px;
        }
        .tags {
          padding-top: 20px;
          color: #B299B2;
          font-size: $font-size - 2px;
          strong {
            color: #5A5A5A;
          }
        }
        section:after {
          clear: both;
          display: block;
          content: '';
        }
      }
    }
    #padding-bar {
      float: left;
      margin-left: 40px;
      margin-top: 4px;
      ul {
        margin-top: 40px;
        margin-left: 4px;
        li {
          list-style-type: none;
          line-height: 30px;
          text-align: center;
          float: left;
          padding: 0;
          margin: 0;
          a {
            display: table-cell;
            text-decoration: none;
            width: 32px;
            height: 32px;
            background-color: #4CA0DB;
            color: $white-font-color;
            border-left: 1px solid white;
            &:hover {
              background-color: orange;
            }
          }
        }
        li:first-child a {
          background-color: orange;
        }
      }
    }
  }
}
